@media (max-width: 476px) {
    .iav-footer {
        height: 450px !important;
    }

    .iav-footer__layout {
        flex-direction: column;
        bottom: 10px !important;
        gap: 25px !important; 
        align-items: center !important;
    }

    .iav-footer__authors-text, .iav-footer__spawn-text   {
        text-align: center;
        padding: 0 25px;
    }

    .iav-footer__spawn-text, .iav-footer__social {
        margin: 0 !important;
    }
}

@media (max-width: 575px) {
    .iav-main__cont {
        flex-direction: column;
        place-items: center;
    }

    .iav-main__cont-card {
        margin: 0 20px 60px;
    }

    .iav-footer {
        height: 350px !important;
    }

    .iav-footer__layout {
        bottom: 10px !important;
    }
}

@media (max-width: 768px) {
    .iav-main__cont {
        gap: 30px;
    }

    .iav-main__cont-card {
        margin: 0 20px 60px;
    }

    .iav-footer {
        height: 370px;
    }
    
    .iav-footer__layout {
        gap: 50px;
        bottom: 10px !important;
    }
}

@media (max-width: 992px) {
    .iav-main__cont {
        gap: 50px;
    }

    .iav-main__cont-card {
        margin: 0 20px 60px;
    }

    .iav-footer {
        height: 370px;
    }
    
    .iav-footer__layout {
        gap: 50px;
    }

    .iav-header__cont-search {
        display: none;
    }

    .iav-header__cont-burger {
        display: block !important;
    }
}

@media (max-width: 1200px) {
    .iav-main__cont {
        gap: 70px;
    }
}