$header-color-background: #000;
$header-color-text: rgba(255, 255, 255, .65);
$header-color-text-hover: white;
$header-color-icon-fill: #000;
$header-color-icon-stroke: white;
$header-font-family: 'Arial', sans-serif;
$header-font-size: 16px;
$header-height: 70px;
$header-gap-between-elements: 25px;
$header-padding-right: 20px;
$header-transition-speed: .3s;
$header-letter-spacing: 2px;

$main-title-font-size: 36px;
$main-title-letter-spacing: 5px;
$main-title-line-height: 1.4;
$main-title-font-weight: bolder;
$main-cont-width: 100%;
$main-link-font-size: 24px;
$main-link-font-weight: 300;
$main-link-line-height: 1;
$main-link-color: #000;
$main-text-font-size: 18px;
$main-link-img-width: 200px;
$main-link-img-height: 200px;
$main-action-link-font-size: 18px;
$main-action-link-width: 100%;

$footer-bg-color: #000;
$footer-bg-image: url('../../img/lego.png');
$footer-height: 256px;
$footer-width: 100%;
$footer-color: white;
$footer-text-weight-bold: bold;