@import "logo/logo";

.iav-header {
  background: $header-color-background;
  position: relative;
  height: $header-height;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  font: {
    family: $header-font-family;
    size: $header-font-size;
  }
}

.iav-header__cont {
  height: $header-height;
  display: flex;
  align-items: center;
  gap: $header-gap-between-elements;
  padding-right: $header-padding-right;

  .iav-header__cont-link, .iav-header__languages-link {
    text-decoration: none;
    color: $header-color-text;
    letter-spacing: $header-letter-spacing;
    transition: all $header-transition-speed ease-in-out;
  }
}

.iav-header__cont-link:hover, .iav-header__languages-link:hover {
  color: $header-color-text-hover;
}

.iav-header__languages-link--en::after {
  content: '/';
  position: relative;
  left: 3px;
}

.iav-header__cont-search {
  width: 25px;

  .iav-header__cont-search-path {
    fill: $header-color-icon-fill;
    stroke: $header-color-icon-stroke;
  }
}

.iav-header__cont-burger {
  display: none;
}
