@import "logo/logo.scss";
@import "block/block.scss";
.header {
    height: 70px;
    width: 100%;
    background-color: $block-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}