.iav-main__title {
    font-size: $main-title-font-size;
    display: block;
    margin-bottom: 5px; 
    letter-spacing: $main-title-letter-spacing;
    text-transform: uppercase;
    line-height: $main-title-line-height;
    margin: 80px 0 85px; 
    text-align: center; 
    letter-spacing: 1px; 
    font-weight: $main-title-font-weight;
}

.iav-main__cont {
    display: flex;
    flex-wrap: wrap;
    width: $main-cont-width;
    justify-content: space-around; 
    margin: 0 0 100px; 
}

.iav-main__cont-card {
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.iav-main__cont-card__link {
    font-size: $main-link-font-size;
    font-weight: $main-link-font-weight;
    line-height: $main-link-line-height;
    color: $main-link-color;
}

.iav-main__cont-card__text {
    margin: 15px 0 10px 0; 
    font-size: $main-text-font-size;
}

.iav-main__cont-card__link-img {
    display: block;
    width: $main-link-img-width;
    height: $main-link-img-height;
    margin-bottom: 20px; 
}

.iav-main__cont-card__action-link {
    font-size: $main-action-link-font-size;
    width: $main-action-link-width;
}

.no-decor {
    text-decoration: none;
}
