.iav-header-logo{
    padding: 23px 30px 22px;
    width: 30px;
    height: 25px;
    fill: #fff;
}


@media (max-width: 1200px) {
    .iav-header-logo{
      padding: 23px 30px 22px;
      width: 30px;
      height: 25px;
      fill: #fff;

      &__svg {
        padding: 23px 20px 22px;
      }
    }
  }
