.header__content {
    &__forum {
        width: fit-content;
        height: fit-content;
        margin: auto;
        letter-spacing: 2px;

        &-text {
            text-decoration: none;
            color: $header-unactiv-color;
        }
    }
}