.header__content__forum{
    width: fit-content;
    height: fit-content;
    margin: auto;
    letter-spacing: 2px;
}
.header__content__forum-text{
    text-decoration: none;
    color: $header-unactiv-color;
}