.footer__layout {
    &__spawn {
        width: fit-content;
        height: fit-content;
        margin-right: 30px;

        &-text {
            color: $footer-text-color;
        }
    }
}

.text-fat {
    font-weight: 600;
}

@media (min-width: 768px) and (max-width:991px) {
    .footer__layout__spawn {
        width: 200px;
    }
}

@media (min-width: 375px) and (max-width:767px) {
    .footer__layout__spawn {
        width: 200px;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}