.header__block__language-english {
    text-decoration: none;
    color: $block-text-color;
}
.header__block__language-dash {
    color: $block-text-color;
}
.header__block__language-ukrainian {
    color: $text-color;
}
.header__block__language {
    letter-spacing: 3px;
}